<a href="https://colab.research.google.com/github/Ahsanbeg/Multiple-Disease-Prediction/blob/main/Thyroid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install scikit-learn==1.0.2

Collecting scikit-learn==1.0.2
  Using cached scikit-learn-1.0.2.tar.gz (6.7 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'

  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [32 lines of output]
      Traceback (most recent call last):
        File "C:\Users\PAVANI\AppData\Local\Programs\Python\Python313\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 389, in <module>
          main()
          ~~~~^^
        File "C:\Users\PAVANI\AppData\Local\Programs\Python\Python313\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 373, in main
          json_out["return_val"] = hook(**hook_input["kwargs"])
                                   ~~~~^^^^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\PAVANI\AppData\Local\Programs\Python\Python313\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 137, in get_requires_for_build_wheel
          backend = _build_backend()
        File "C:\Users\PAVANI\AppData\Local\Programs\Python\Python313\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 70, in _build_backend
          obj = import_module(mod_path)
        File "C:\Users\PAVANI\AppData\Local\Programs\Python\Python313\Lib\importlib\__init__.py", line 88, in import_module
          return _bootstrap._gcd_import(name[level:], package, level)
                 ~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
        File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
        File "<frozen importlib._bootstrap>", line 1310, in _find_and_load_unlocked
        File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
        File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
        File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
        File "<frozen importlib._bootstrap>", line 1331, in _find_and_load_unlocked
        File "<frozen importlib._bootstrap>", line 935, in _load_unlocked
        File "<frozen importlib._bootstrap_external>", line 1026, in exec_module
        File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
        File "C:\Users\PAVANI\AppData\Local\Temp\pip-build-env-1c2xlavd\overlay\Lib\site-packages\setuptools\__init__.py", line 16, in <module>
          import setuptools.version
        File "C:\Users\PAVANI\AppData\Local\Temp\pip-build-env-1c2xlavd\overlay\Lib\site-packages\setuptools\version.py", line 1, in <module>
          import pkg_resources
        File "C:\Users\PAVANI\AppData\Local\Temp\pip-build-env-1c2xlavd\overlay\Lib\site-packages\pkg_resources\__init__.py", line 2172, in <module>
          register_finder(pkgutil.ImpImporter, find_on_path)
                          ^^^^^^^^^^^^^^^^^^^
      AttributeError: module 'pkgutil' has no attribute 'ImpImporter'. Did you mean: 'zipimporter'?
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

%matplotlib inline
sns.set(rc={'figure.figsize': [20, 20]}, font_scale=1.4)

In [3]:
df = pd.read_csv('C:\\Users\\PAVANI\\Downloads\\Project2_files\\Project2_files\\Medical\\Datasets\\prepocessed_hypothyroid.csv')

In [4]:
df.head()

    age  sex  on thyroxine   TSH  T3 measured      T3    TT4  binaryClass
0  41.0  1.0             0  1.30            1  2.5000  125.0            0
1  23.0  1.0             0  4.10            1  2.0000  102.0            0
2  46.0  0.0             0  0.98            0  2.0135  109.0            0
3  70.0  1.0             1  0.16            1  1.9000  175.0            0
4  70.0  1.0             0  0.72            1  1.2000   61.0            0

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,3772.0,51.735879,20.082295,1.000,36.0,54.0000,67.0,455.0
sex,3772.0,0.684705,0.455362,0.000,0.0,1.0000,1.0,1.0
on thyroxine,3772.0,0.123012,0.328494,0.000,0.0,0.0000,0.0,1.0
TSH,3772.0,5.086766,23.290853,0.005,0.6,1.6000,3.8,530.0
T3 measured,3772.0,0.796129,0.402927,0.000,1.0,1.0000,1.0,1.0
T3,3772.0,2.013500,0.738262,0.050,1.7,2.0135,2.2,10.6
TT4,3772.0,108.319345,34.496511,2.000,89.0,106.0000,123.0,430.0
binaryClass,3772.0,0.077147,0.266861,0.000,0.0,0.0000,0.0,1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           3772 non-null   float64
 1   sex           3772 non-null   float64
 2   on thyroxine  3772 non-null   int64
 3   TSH           3772 non-null   float64
 4   T3 measured   3772 non-null   int64
 5   T3            3772 non-null   float64
 6   TT4           3772 non-null   float64
 7   binaryClass   3772 non-null   int64
dtypes: float64(5), int64(3)
memory usage: 235.9 KB

In [7]:
df

,age,sex,on thyroxine,TSH,T3 measured,T3,TT4,binaryClass
0,41.0,1.0,0,1.300000,1,2.5000,125.000000,0
1,23.0,1.0,0,4.100000,1,2.0000,102.000000,0
2,46.0,0.0,0,0.980000,0,2.0135,109.000000,0
3,70.0,1.0,1,0.160000,1,1.9000,175.000000,0
4,70.0,1.0,0,0.720000,1,1.2000,61.000000,0
...,...,...,...,...,...,...,...,...
3767,30.0,1.0,0,5.086766,0,2.0135,108.319345,0
3768,68.0,1.0,0,1.000000,1,2.1000,124.000000,0
3769,74.0,1.0,0,5.100000,1,1.8000,112.000000,0
3770,72.0,0.0,0,0.700000,1,2.0000,82.000000,0
3771,64.0,1.0,0,1.000000,1,2.2000,99.000000,0

In [8]:
df["binaryClass"].value_counts()

binaryClass
0    3481
1     291
Name: count, dtype: int64

In [9]:
df["binaryClass"]=df["binaryClass"].map({"P":0,"N":1})

In [11]:
print(df.columns)

Index(['age', 'sex', 'on thyroxine', 'TSH', 'T3 measured', 'T3', 'TT4',
       'binaryClass'],
      dtype='object')

In [12]:
df.columns = df.columns.str.strip()

In [14]:
df["sex"].value_counts()

sex
1.000000    2480
0.000000    1142
0.684705     150
Name: count, dtype: int64

In [15]:
df=df.replace({"t":1,"f":0})

In [16]:
df

,age,sex,on thyroxine,TSH,T3 measured,T3,TT4,binaryClass
0,41.0,1.0,0,1.300000,1,2.5000,125.000000,NaN
1,23.0,1.0,0,4.100000,1,2.0000,102.000000,NaN
2,46.0,0.0,0,0.980000,0,2.0135,109.000000,NaN
3,70.0,1.0,1,0.160000,1,1.9000,175.000000,NaN
4,70.0,1.0,0,0.720000,1,1.2000,61.000000,NaN
...,...,...,...,...,...,...,...,...
3767,30.0,1.0,0,5.086766,0,2.0135,108.319345,NaN
3768,68.0,1.0,0,1.000000,1,2.1000,124.000000,NaN
3769,74.0,1.0,0,5.100000,1,1.8000,112.000000,NaN
3770,72.0,0.0,0,0.700000,1,2.0000,82.000000,NaN
3771,64.0,1.0,0,1.000000,1,2.2000,99.000000,NaN

In [17]:
df['sex'].isnull().sum()

np.int64(0)

In [19]:
print(df.columns)

Index(['age', 'sex', 'on thyroxine', 'TSH', 'T3 measured', 'T3', 'TT4',
       'binaryClass'],
      dtype='object')

In [20]:
df["TSH"].value_counts()

TSH
5.086766      369
0.200000      116
1.300000      105
1.100000       97
1.400000       91
             ...
76.000000       1
11.100000       1
178.000000      1
10.300000       1
89.000000       1
Name: count, Length: 288, dtype: int64

In [22]:
del df["TSH"]

In [25]:
df = df.replace({"?": np.nan})

In [26]:
df.isnull().sum()

age                0
sex                0
on thyroxine       0
T3 measured        0
T3                 0
TT4                0
binaryClass     3772
dtype: int64

In [27]:
df["sex"].value_counts()

sex
1.000000    2480
0.000000    1142
0.684705     150
Name: count, dtype: int64

In [28]:
df=df.replace({"F":1,"M":0})

In [30]:
print(df.columns)

Index(['age', 'sex', 'on thyroxine', 'T3 measured', 'T3', 'TT4',
       'binaryClass'],
      dtype='object')

In [31]:
df["sex"].value_counts()

sex
1.000000    2480
0.000000    1142
0.684705     150
Name: count, dtype: int64

In [40]:
print(df.columns)

Index(['age', 'sex', 'T3', 'TT4', 'binaryClass'], dtype='object')

In [41]:
df = df.drop(["T3"], axis=1)

In [44]:
df["TT4"].value_counts()

TT4
108.319345    231
101.000000     71
93.000000      67
103.000000     63
98.000000      63
             ...
30.000000       1
2.900000        1
55.000000       1
216.000000      1
258.000000      1
Name: count, Length: 242, dtype: int64

In [46]:
print(df.columns)

Index(['age', 'sex', 'TT4', 'binaryClass'], dtype='object')

In [47]:
df["TT4"].describe()

count    3772.000000
mean      108.319345
std        34.496511
min         2.000000
25%        89.000000
50%       106.000000
75%       123.000000
max       430.000000
Name: TT4, dtype: float64

In [50]:
df["binaryClass"].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
df.dtypes

age            float64
sex            float64
TT4            float64
binaryClass    float64
dtype: object

In [ ]:
cols = df.columns[df.dtypes.eq('object')]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
df.dtypes

age            float64
sex            float64
TT4            float64
binaryClass    float64
dtype: object

In [56]:
df.isnull().sum()

age               0
sex               0
TT4               0
binaryClass    3772
dtype: int64

In [58]:
df['T4U measured'].mean()

KeyError: 'T4U measured'

In [59]:
df['T4U measured'].fillna(df['T4U measured'].mean(), inplace=True)

KeyError: 'T4U measured'

In [60]:
df['sex'].fillna(df['sex'].mean(), inplace=True)

C:\Users\PAVANI\AppData\Local\Temp\ipykernel_22956\2421622677.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sex'].fillna(df['sex'].mean(), inplace=True)

In [61]:
df['age'].fillna(df['age'].mean(), inplace=True)

C:\Users\PAVANI\AppData\Local\Temp\ipykernel_22956\1503503937.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [62]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')

In [63]:
df['TSH'] = imputer.fit_transform(df[['TSH']])

KeyError: "None of [Index(['TSH'], dtype='object')] are in the [columns]"

In [64]:
df['T3'] = imputer.fit_transform(df[['T3']])

KeyError: "None of [Index(['T3'], dtype='object')] are in the [columns]"

In [65]:
df['TT4'] = imputer.fit_transform(df[['TT4']])

In [66]:
df['T4U'] = imputer.fit_transform(df[['T4U']])

KeyError: "None of [Index(['T4U'], dtype='object')] are in the [columns]"

In [67]:
df['FTI'] = imputer.fit_transform(df[['FTI']])

KeyError: "None of [Index(['FTI'], dtype='object')] are in the [columns]"

In [68]:
df.isnull().sum()

age               0
sex               0
TT4               0
binaryClass    3772
dtype: int64

In [69]:
df

       age  sex         TT4  binaryClass
0     41.0  1.0  125.000000          NaN
1     23.0  1.0  102.000000          NaN
2     46.0  0.0  109.000000          NaN
3     70.0  1.0  175.000000          NaN
4     70.0  1.0   61.000000          NaN
...    ...  ...         ...          ...
3767  30.0  1.0  108.319345          NaN
3768  68.0  1.0  124.000000          NaN
3769  74.0  1.0  112.000000          NaN
3770  72.0  0.0   82.000000          NaN
3771  64.0  1.0   99.000000          NaN

[3772 rows x 4 columns]

In [70]:
df.columns

Index(['age', 'sex', 'TT4', 'binaryClass'], dtype='object')

In [71]:
df.to_csv('prepocessed_hyperthyroid.csv')

In [72]:
x = df.drop('binaryClass', axis=1)
y = df['binaryClass']

In [73]:
df.head()

    age  sex    TT4  binaryClass
0  41.0  1.0  125.0          NaN
1  23.0  1.0  102.0          NaN
2  46.0  0.0  109.0          NaN
3  70.0  1.0  175.0          NaN
4  70.0  1.0   61.0          NaN

In [74]:
x.head()

    age  sex    TT4
0  41.0  1.0  125.0
1  23.0  1.0  102.0
2  46.0  0.0  109.0
3  70.0  1.0  175.0
4  70.0  1.0   61.0

In [75]:
y.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: binaryClass, dtype: float64

In [76]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [77]:
print(x.shape, x_train.shape, x_test.shape)

(3772, 3) (3017, 3) (755, 3)

## **Feature Selection- Dropping constant features**

In [78]:
x_train = x_train.drop(['FTI', 'FTI measured', 'T4U measured', 'TT4 measured','query on thyroxine','on antithyroid medication','sick', 'pregnant','thyroid surgery','I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary','psych' , 'TSH measured', 'T4U', 'TBG measured'],axis=1)
x_test = x_test.drop(['FTI', 'FTI measured', 'T4U measured', 'TT4 measured','query on thyroxine','on antithyroid medication','sick', 'pregnant','thyroid surgery','I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary','psych' , 'TSH measured', 'T4U', 'TBG measured'],axis=1)

KeyError: "['FTI', 'FTI measured', 'T4U measured', 'TT4 measured', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'T4U', 'TBG measured'] not found in axis"

In [79]:
x_train.columns

Index(['age', 'sex', 'TT4'], dtype='object')

## **Model Training**

In [80]:
model = LogisticRegression()

In [81]:
model.fit(x_train, y_train)

ValueError: Input y contains NaN.

In [82]:
# accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [83]:
print('Accuracy on Training data : ', training_data_accuracy)

NameError: name 'training_data_accuracy' is not defined

In [84]:
# accuracy on test data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [85]:
print('Accuracy on Test data : ', test_data_accuracy)

NameError: name 'test_data_accuracy' is not defined

In [86]:
input_data = (44,0,0,45,1,1.4,39)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a HyperThyroid Disease')
else:
  print('The Person has HyperThyroid Disease')

c:\Users\PAVANI\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

## **Saving the trained model**

In [87]:
import pickle

In [88]:
filename = 'Thyroid_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [89]:
# loading the saved model
loaded_model = pickle.load(open('Thyroid_model.sav', 'rb'))

In [90]:
for column in x_train.columns:
  print(column)

age
sex
TT4

In [91]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3017 entries, 2661 to 3174
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     3017 non-null   float64
 1   sex     3017 non-null   float64
 2   TT4     3017 non-null   float64
dtypes: float64(3)
memory usage: 94.3 KB